* { margin:0; padding:0; }
body {
    overflow-x: hidden;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
ul,
li { list-style-type:none;
	 margin:0;
	 padding:0;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: normal;
}
#wraper { width:1000px; overflow:hidden; margin:0 auto; }
#content { float:right; position:fixed; width:850px; margin-left:150px; background:#ffffff; }
.tabWrap { margin-bottom:20px; height:35px; }
.tabWrap a, .tabWrap a:visited { height:30px; line-height:30px; text-decoration:none; float:left; display:block; padding:0 20px 0 40px; font-size:14px; }
.tabWrap a.active, .tabWrap a.active:visited { margin-bottom:-1px; font-weight:bold; }
.contents { padding:0 0 0 150px; margin-top:270px; margin-bottom:40px; }
.contents ul {  }
.contents ul li { 
	padding:5px 2px;
	height:32px;
	border-bottom:1px solid #eeeeee;
}
.contents ul li:active, .contents ul li.active { 
	background:#eeeeee;
}
.contents ul li span { 
	display:block;
	float:left;
}
.contents ul li a, .contents ul li a:visited{ 
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.contents ul li span.checkBox { 
	width:18px;
	margin-right:5px;
	margin-top:8px;
}
.contents ul li span.type { 
	width:170px;
	height:32px;
	margin-right:10px;
	line-height:32px;
}

.contents ul li span.modified { 
	width:150px;
	height:32px;
	line-height:32px;
}
.contents ul li span.name { 
	width:290px;
	margin-right:10px;
}
.contents ul li span.size { 
	width:65px;
	line-height:32px;
	margin-right:10px;
}
.contents ul li a.cancel { 
	font-size: 16px;
	color: #d55;
	margin-top: -3px;
	font-weight: bold;
}
.contents ul li span.name input[type='text'] { 
	width:94%;
	border:1px solid #cccccc;
	padding:5px 2%;
}
.contents ul li a, .contents ul li a:visited{ 
	padding:0;
	max-width:290px;
	margin-right:20px;
	height:35px;
	line-height:34px;
	float:left;
	text-decoration:none;
}
.contents ul li a:hover{ }
.contents ul li a.icon, .contents ul li a.icon:visited{ 
	width:32px;
	height:35px;
	float:left;
	margin-right:10px;
	display:block;
	text-decoration:none;
}

#sidebar { width:150px;  height:100%; padding-top:20px; float:left; position:fixed; z-index:10;  }
#sidebar ul { margin-top:40px; }
#sidebar ul li { padding:4px 0; }
#sidebar ul li a, #sidebar ul li a:visited { 
	text-decoration:none;
	padding:0 0 0 20px;
	font-size:14px;
	height:18px;
	line-height:18px;
	text-decoration:none;text-decoration:none;
}
#sidebar ul li a:hover { text-decoration:none; }
#topBar { height:50px; line-height:50px; overflow:hidden; position:fixed; top:0; width:100%; z-index:999; }
#topBar .logo { padding:0 10px; margin:0 auto; }
#topBar .logo a, #topBar .logo a:visited { width:170px; margin-top:12px; height:24px; display:block; }
header {
    /*overflow:hidden;*/
	position:relative;
	z-index:9;
	top:50px;
	height:200px;
	width:100%;
	padding:20px 0 0 0;
}

#logo, #logo a, #logo a:visited { 
		display:block;
		width:48px;
		height:48px;  
}
.breadcrumb { 
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	direction:rtl;
	text-align:left; 
	width:100%;
	height:24px;
	line-height:24px;
	float:left;
	font-size:16px;
	clear:right;
	margin-bottom:14px;
}

.breadcrumb a, .breadcrumb a:visited { 
	text-decoration:none;
	padding-right:12px;
	margin-right:5px;
}
.breadcrumb a:hover { 
		text-decoration:none;
}
.breadcrumb a.inactive, .breadcrumb a.inactive:visited { 
	
}

.currentDir { 
	float:left;
}
.currentDir a, .currentDir a:visited { display:block;
	max-width:450px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding:0 0 0 36px;
	font-size:16px;
	float:left;
	font-weight:bold;
	text-decoration:none;
	height:32px;
	line-height:24px;
}
.currentDir a:hover { text-decoration:none; }

.currentDir a.current, .currentDir a.current:visited { 
}

.currentDir a.refresh, .currentDir a.refresh:visited { 
	width:24px; max-width:24px; padding:0; margin-left:10px; height:24px; display:block;
}


#logoSmall {
	display:none;
	height:30px;
	line-height:30px;
	text-align:center;
}
#logoSmall a, #logoSmall a:visited { 
	display:block;
	margin:0 auto;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}
#logoSmall a:hover { 
		text-decoration:none;
}
.navbarIcons  { width:100px; float:right; overflow:hidden; }
.navbarIcons ul {
	overflow:hidden;
}
.navbarIcons li {
    padding:0;
	float:left;
	padding:0;
	float:left;
	font-size:0;
	margin-right:9px;
}
.navbarIcons li a, .navbarIcons li a:visited {
	display:block;
	float:left;
	width:24px; 
	height:24px;
}

.searchBox { 
	width:200px;
	height:24px;
	line-height:24px;
	position:relative;
}
	
.searchBox a.cross, .searchBox a.cross:visited { 
	width:10px;
	height:12px;
	line-height:10px;
	display:none;
	position:absolute;
	z-index:999;
	right:5px;
	top:7px;
	text-decoration:none;
	font-weight:bold;
}
	
.searchBox input.inputBox{
	height:16px;
	padding:4px 20px 4px 4px;
	border:1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:173px;
	position:absolute;
	z-index:9;
	left:0;
	top:0;
}

.fileOptions  { 
	overflow:hidden;
	top:0px;
	position:relative;
	clear:both;
	padding:8px 5px 8px 5px;
}
.fileOptions ul {
	overflow:hidden;
}
.fileOptions li {
    padding:0;
	float:left;
	margin-right:20px;
}
.fileOptions li a, .fileOptions li a:visited {
	display:block;
	float:left;
	padding:0 20px 0 20px;
	font-size:14px;
	line-height:18px;
	text-decoration:none;
}

.fileOptions li a:hover { text-decoration:none; }
.fileOptions li a.more, .fileOptions li a.more:visited {
	padding:0 15px 0 0;
	font-size:14px;
	line-height:18px;
	text-decoration:none;
}

.navTitle  { 
	overflow:hidden;
	top:0px;
	position:relative;
	clear:both;
	padding:10px 0 5px 0;
}
.navTitle ul {
	overflow:hidden;
}
.navTitle li {
    padding:0;
	float:left;
	padding:0;
	float:left;
	font-weight:bold;
	margin-right:10px;
}
.navTitle li a, .navTitle li a:visited {
	display:block;
	float:left;
}

.navTitle li.checkBox, .navTitle li.checkBox:visited {
	width:18px;
	padding:0;
	margin-top:3px;
	margin-left:2px;
}
.navTitle li a.name, .navTitle li a.name:visited {
	width:290px;
	margin-left:26px;
}
.navTitle li a.size, .navTitle li a.size:visited {
	width:55px;
	background-position:30px center !important;
}
.navTitle li a.modified, .navTitle li a.modified:visited {
	width:160px;
	background-position:60px center !important;
}
.navTitle li a.created, .navTitle li a.created:visited {
	width:120px;
	background-position:30px center !important;
}
.navTitle li a, .navTitle li a:visited {
	padding:0 10px 0 0;
	font-size:14px;
	line-height:18px;
	text-decoration:none;
}
.navTitle li a:hover { text-decoration:none; }

.searchBox { float:right; }

footer {
	overflow:hidden;
	position:fixed;
	bottom:0;
	left:0;
	z-index:11;
	height:20px;
	line-height:20px;
	padding:10px 0;
	font-size:12px;
	width:100%;
}
.footerLinks {float:left;  }
.footerLinks a, .footerLinks a:visited{ margin:0 5px; text-decoration:none; }
.footerLinks a:hover{ text-decoration:none; }
.copyright { float:right; }

.fade { filter: alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4; pointer-events: none; }

.strong { font-weight: bold; }
.warningtip { background-color:#fdfce7; padding: 5px 30px; display: inline; }
.searchLabel { padding: 0 !important; pointer-events: none; }

.outer { position: relative; margin-top: 4px; font-size: 12px; border:1px solid #777; color:#ffffff; text-align:center; height: 20px; line-height:20px; width: 100%; }
.inner { position: absolute; z-index: 1; width: 0%; color: #ffffff; background-color:#999; height: 20px; line-height:20px; text-align:center; font-weight:bold; }
.percent { position: absolute; z-index: 2; width: 100%; text-align: center; height: 20px; line-height:20px; font-weight:bold; color: #000; }
.outer.success  .inner { background-color:#83b426; }
.outer.success  .percent { color: #ffffff; }
.showprog { width: 100%;}

.progressBar { display: none; width:40%; border:1px solid #666; border-bottom:none;  position:fixed; bottom:41px; left:35%; margin:0 auto; height:36px; padding:10px; z-index:999; background:#ffffff; }	
.progressBar .outer { margin-bottom:5px; margin-top:0px; clear:both; }

.progressBar .text { float:left; font-size:12px; color:#333333; }
.progressBar .links { float:right; font-size:12px; color:#333333; }
.progressBar .links a { text-decoration:none; }

/* iPads (portrait) ----------- */
@media only screen and (max-width: 990px) {
/* Styles */
	#wraper { width:760px; }
	#content { width:660px; margin-left:100px; }
	.contents { padding:0 0 0 100px; margin-top:260px; }
	#sidebar { width:100px; }
	header { padding: 20px 0 0 0; }
	.breadcrumb { font-size: 16px; width:100%; }
	.breadcrumb a, .breadcrumb a:visited {  }
	.currentDir a, .currentDir a:visited { max-width:250px; }
	.navTitle { clear: both; padding:10px 0 5px 0; }
	.navTitle li a.size, .navTitle li a.size:visited {	width:45px; }
	.navTitle li a.name, .navTitle li a.name:visited { width: 180px; }
	.contents ul li span.name { margin-right: 10px; width: 180px; }
	.contents ul li a, .contents ul li a:visited { max-width:180px; }
	.contents ul li span.size { width:55px; }
	footer { padding:0px 0;}
	.footerLinks { display:none; }
	.copyright { float:left; padding:0 10px;}
	.progressBar { width:50%;left:25%; }	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 640px)  {
/* Styles */
	#wraper { width:640px; }
	#content { width:640px; margin-left:0; }
	.contents { padding:0 0 0 0; margin-top:120px; }
	#sidebar { display:none; }
	.currentDir { display:none; }
	header { padding:70px 0 0 0; height:52px; position:relative; top:0; }
	.searchBox {  width:94%; float:none; margin:-36px 0 0 5px; }
	.searchBox input.inputBox { width:85%; height:20px; padding: 4px 20px 4px 4px; }
	.searchBox a.cross, .searchBox a.cross:visited { right:-10px;	top:7px; }
	/*.navbarIcons { position:absolute; display:none; left:5px; top:40px; }*/
	.tabWrap { display:none; }
	.breadcrumb { font-size: 14px; width: 100%; position:absolute; left:1%; top:65px;  }
	.breadcrumb a, .breadcrumb a:visited { background-position:right 4px !important; background-size:8px 9px !important;  }
	#topBar { height:30px; line-height:30px;  }
	#topBar .logo a, #topBar .logo a:visited { width:85px; margin:9px auto 0 auto; height:12px; display:block; background-size:85px 12px !important; }
	.fileOptions  { top:30px; padding:5px 5px; position:relative; }
	.navTitle { display:none; clear: both; top:40px; padding: 10px 0 5px; }
	.navTitle li a.name, .navTitle li a.name:visited { width: 142px; }
	.contents ul li span.name { margin-right: 20px; width: 150px; }
	.contents ul li a, .contents ul li a:visited { max-width:150px; }
	footer { padding:0px 0;}
	.footerLinks { display:none; }
	.copyright { float:left; padding:0 10px;}
	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 568px)  {
/* Styles */
	#wraper { width:560px; }
	#content { width:560px; margin-left:0; }
	.contents { padding:0 0 0 0; margin-top:120px; }
	#sidebar { display:none; }
	header { padding:70px 0 0 0; height:52px; position:relative; }
	.searchBox input.inputBox { width:83%; padding: 4px 20px 4px 4px; }
	.searchBox a.cross, .searchBox a.cross:visited { right:-20px;	top:7px; }
	/*.navbarIcons { position:absolute; display:none; left:5px; top:40px; } */
	.breadcrumb { font-size: 14px; width: 100%; position:absolute; left:1%; top:65px  }
	#logoSmall { display:block; position:absolute; width:100%; top:0; left:0; }
	.fileOptions li { margin-right:5px; }
	.navTitle { display:none; clear: both; padding: 10px 0 5px; }
	.navTitle li a.name, .navTitle li a.name:visited { width: 280px; margin-right:0; }
	.contents ul li span.name { margin-right: 0; width: 400px;  }
	.navTitle li a.created, .navTitle li a.created:visited { display:none; }
	.navTitle li a.modified, .navTitle li a.modified:visited { display:none; }
	.contents ul li a, .contents ul li a:visited { max-width:400px; }
	.contents ul li span.type { display:none; }
	.contents ul li span.modified { display:none; }
	footer { padding:0px 0;}
	.footerLinks { display:none; }
	.copyright { float:left; padding:0 10px;}
	.progressBar { width:60%;left:20%; }
	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px)  {
/* Styles */
	#wraper { width:470px; }
	#content { width:470px; margin-left:0px; }
	.contents { padding:0 0 0 0; margin-top:120px; }
	#sidebar { display:none; }
	header { padding:70px 0 0 0; height:52px; position:relative; }
	.searchBox input.inputBox { width:80%; padding: 4px 20px 4px 4px; }
	.searchBox a.cross, .searchBox a.cross:visited { right:-5px;	top:7px; }
	/*.navbarIcons { position:absolute; display:none; left:5px; top:40px; } */
	.breadcrumb { font-size: 14px; width: 100%; position:absolute; left:1%; top:65px  }
	#logoSmall { display:block; position:absolute; width:100%; top:0; left:0; }
	.fileOptions li { margin-right:5px; }
	.navTitle { display:none; clear: both; padding: 10px 0 5px; }
	.navTitle li a.name, .navTitle li a.name:visited { width: 280px; margin-right:0; }
	.contents ul li span.name { margin-right: 0; width: 310px;  }
	.navTitle li a.created, .navTitle li a.created:visited { display:none; }
	.navTitle li a.modified, .navTitle li a.modified:visited { display:none; }
	.contents ul li a, .contents ul li a:visited { max-width:310px; }
	.contents ul li span.type { display:none; }
	.contents ul li span.modified { display:none; }
	footer { padding:0px 0;}
	.footerLinks { display:none; }
	.copyright { float:left; padding:0 10px;}
	.progressBar { width:70%;left:15%; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 400px)  {
/* Styles */
	#wraper { width:98%; }
	#content { width:98%; margin-left:0px; }
	.contents { padding:0 0 0 0; margin-top:120px; }
	#sidebar { display:none; }
	header { padding:70px 0 0 0; height:52px; position:relative; }
	.searchBox input.inputBox { width:70%; padding: 4px 20px 4px 4px; }
	.searchBox a.cross, .searchBox a.cross:visited { right:-10px;	top:7px; }
	/*.navbarIcons { position:absolute; left:5px; top:40px; } */
	.breadcrumb { font-size: 14px; width: 100%; position:absolute; left:2%; top:65px  }
	#logoSmall { display:block; position:absolute; width:100%; top:0; left:0; }
	.navTitle { clear: both; padding: 10px 0 5px; }
	.navTitle li a.name, .navTitle li a.name:visited { width: 135px; }
	.contents ul li span.name { margin-right: 5px; width: 160px;  }
	.navTitle li a.size, .navTitle li a.size:visited { width:45px; }
	.navTitle li a.modified, .navTitle li a.modified:visited { width:75px; }
	.contents ul li a, .contents ul li a:visited { max-width:160px; }
	.contents ul li span.size { margin-right:0; }
	.contents ul li span.type { width:100px; font-size:12px; margin-right:5px; }
	.contents ul li span.modified { width:106px; font-size:12px; margin-right:5px; }
	.progressBar { width:90%;left:5%; }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 320px) {
	#wraper { width:320px; }
	#content { width:320px; }
	.contents { width:320px; }
	.progressBar { width:96%;left:2%; }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
